body {
    background-image: url(home.png);
    background-size: cover;
}

.navbar {
    background-color: rgb(117, 141, 185);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    margin: -8px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin: auto;
}

footer {
    background-color: rgb(145, 199, 207);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
}

.hometext {
    color: rgb(223, 240, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 0;
}

.hometext2 {
    color: rgb(223, 240, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 1px;
}

/* .card {
    background-color: #ffffff;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.subtitle {
    margin: 5px 0 15px;
    color: #666;
    font-size: 14px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-back {
    width: 100%;
    padding: 10px;
    background-color: #87bde0;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #306385;
} */


.card-container {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;     
    gap: 25px;
    padding: 30px;
    border-radius: 10px;
    height: 700px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* CARD */
.card-container .card {
    background: rgb(255, 255, 255);
    width: 320px;
    height: 200px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.card-container button {
    width: 100%;
    padding: 10px;
    background-color: #87bde0;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.card-container button:hover {
    background-color: #306385;
}

.container-login {
  padding: 16px;
  margin: 10%;
}

.container-login button {
  background-color: #8dc4b0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container-login button:hover {
  opacity: 0.8;
}

.container-login input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}