body {
    background-image: url(home.png);
    background-size: cover;
}

.navbar {
    background-color: rgb(117, 141, 185);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    opacity: 0.4;
    padding: 2%;
    margin: -8px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer {
    background-color: rgb(145, 199, 207);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
    text-align: center;
    opacity: 0.7;
}

/* .card {
    background-color: #ffffff;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.subtitle {
    margin: 5px 0 15px;
    color: #666;
    font-size: 14px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
}

.btn-back {
    width: 100%;
    padding: 10px;
    background-color: #87bde0;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #306385;
} */


.card-container {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;     
    gap: 25px;
    padding: 30px;
}

/* CARD */
.card {
    background: rgb(255, 255, 255);
    width: 320px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #87bde0;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #306385;
}